body {
  margin: 0;
  padding: 0;
  height: auto;
}

.container {
  text-align: center;
}

.title {
  font-size: 48px;
  font-weight: normal;
  font-family:sans-serif;
  color: black;
  margin-bottom: auto;
}

.option {
  font-size: 24px;
  font-family: sans-serif;
  color: black;
  line-height: 2.5;
}

.review {
  font-size: large;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.rating a.fas {
  color: yellow;
}

.rating a.fa-regular {
  color: black;
}