html {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 12pt;
}

header {
  border-radius: 1cm;
  background-color: gray;
  margin: 20px;
}

.title {
  font-size: 350%;
  font-weight: normal;
}

.option {
  font-size: 125%;
}

header, main {
  text-align: center;
}

#secondary-title {
  font-size: x-large;
  text-align: left;     
  padding-bottom: 5px;
  border-bottom: solid 2px;
}

#story {
  border: solid 2px black;
  border-radius: 1cm;
  background-color: lightgray;
  margin: 20px;
  padding: 5%;
}

#brand {
  font-weight: bold;
  font-style: italic;
}

#founder {
  font-weight: bold;
}

#staricon {
  width: 15%;
  float: right;
}

#howitworks {
  border: solid 2px black;
  border-radius: 1cm;
  background-color: lightgray;
  margin: 20px;
  padding: 5%;
  text-align: left;
}

#logo {
  border-radius: 1cm;
}

footer {
  border-top: solid;
}