html {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 12pt;
}

header {
  text-align: center;
  border-radius: 5%;
  background-color: gray;
  margin: 20px;
}

.title {
  font-size: 350%;
  font-weight: normal;
}

.option {
  font-size: 150%;
}

main {
  text-align: center;
}

.story {
  border: solid 2px black;
  border-radius: 1cm;
  background-color: lightgray;
  margin: 20px;
  padding: 5%;
}

.founder {
  font-weight: bold;
}