html {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 12pt;
}

body {
  margin: auto;
  padding: 0;
  max-width: 600px;
  min-width: 400px;
}

header, main {
  text-align: center;
}

.option {
  text-align: center;
  border: solid 2px black;
  border-radius: 1cm;
  margin: 20px;
  padding: 5%;
  font-size: 150%
}

.title {
  font-size: 350%;
  font-weight: normal;
}

.logo {
  width: 100%;
  z-index: -1;
  border-radius: 1cm;
}
  