html {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 12pt;
}

body {
  margin: auto;
  padding: 0;
  max-width: 600px;
  min-width: 400px;
}

header {
  border-radius: 1cm;
  background-color: #F4ECCC;
  margin: 20px;
}

header, main {
  text-align: center;
}

.title {
  font-size: 350%;
  font-weight: normal;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.option {
  font-size: 125%;
  margin: 3%;
  background-color: lightgray;
  padding: 2%;
  border-radius: 10%;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.place {
  text-align: center;
  border: solid 2px black;
  border-radius: 1cm;
  margin: 20px;
  padding: 5%;
  font-size: 150%
}

.soon-place {
  text-align: center;
  border: dashed 2px black;
  border-radius: 1cm;
  margin: 20px;
  padding: 5%;
  font-size: 150%
}

.logo {
  width: 100%;
  z-index: -1;
  border-radius: 1cm;
}
  